<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleAppToConsumeWebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceforAddSoap" />
                <binding name="WebServiceforAddSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53622/WebServiceforAdd.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceforAddSoap"
                contract="RefrenceforAddition.WebServiceforAddSoap" name="WebServiceforAddSoap" />
            <endpoint address="http://localhost:53622/WebServiceforAdd.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceforAddSoap1"
                contract="ServiceForAdd.WebServiceforAddSoap" name="WebServiceforAddSoap1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsoleAppToConsumeWebServices.Properties.Settings>
            <setting name="ConsoleAppToConsumeWebServices_localhost_WebServiceforAdd"
                serializeAs="String">
                <value>http://localhost:53622/WebServiceforAdd.asmx</value>
            </setting>
        </ConsoleAppToConsumeWebServices.Properties.Settings>
    </applicationSettings>
</configuration>